.item{
    position:relative;

    .linkproduct{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    //li{
        //list-style: none;
        span{
            font-size: 30px;
        }
        .product_type_simple{
            position: relative;
            width: 200px;
            margin-top: 20px;
            background:url(../images/icons/panier_blanc.png) no-repeat 160px center #c6b28f;
            z-index: 99;

            &:hover{
                background:url(../images/icons/panier.png) no-repeat 160px center #ac9771;
                color: #000;
            }
        }

    //}
}
.conteneurnouv{
    margin:0;
    box-sizing: border-box;
    .watches-img{

        a{
            img{
                height: 250px;
            }
        }

    }

}
.petitmenu{
    .titreun{
        background: #c6b28f;
        //height: 50px;
        line-height: 50px;
        text-align: center;
        border-bottom: 1px solid #000 ;

        a{
            display: block;
            vertical-align: middle;
            color: #fff;
            width: 100%;
            //height: 50px;
            line-height: 50px;
            font-size: 24px;
        }
        .titredeux{
            height: auto;

            form{
                height: auto;

                line-height: 50px;
                //height: 50px;
                background: #e3d0af;
            }
        }
        }
        }
.petitmenu{
    .titreun{
        .titredeux  {
            display: none;
            position: relative;
            .contenu{
                display: none;
                height: auto;
                form{
                    position: relative;
                    border: none;
                }

            }
        }
    }
}

.se{
    border-bottom: 1px solid #000 ;
    form{
        position: relative;
        text-align: center;
        background: #c6b28f;
        border: none;
        width: 100%;
        height: 50px;
        line-height: 50px;
        font-size: 24px;
        color: #fff;
        input{
            position: absolute;
            top: 20px;
            right: 20px;
        }
    }
}
